.pin {
  display: inline-block;
  white-space: nowrap;
  font-weight: 300;
  margin: 0px 1px;
  font-family: monospace;
  white-space: nowrap;
  font-size: 15px;
}

.ledText {
  background-color: var(--grey8);
  color: var(--grey1);
  padding: 1px 6px 1px 8px;
  border-radius: 6px 0 0 6px;
}

.pinText {
  background-color: var(--grey2);
  color: rgb(235, 116, 5);
  padding: 1px 8px 1px 6px;
  border-radius: 0 6px 6px 0;
}

.ground {
  background-color: rgb(224, 224, 224);
  color: rgb(41, 41, 41);
}

.vin {
  background-color: rgb(251, 232, 232);
  color: rgb(208, 38, 38);
}

.dout {
  background-color: rgb(195, 169, 241);
  color: rgb(119, 49, 241);
}

.din {
  background-color: rgb(225, 247, 225);
  color: rgb(36, 121, 5);
}

.subscript {
  font-size: 0.8em;
}
