@use '../../styles/variables';

.sidebar {
  --top-height: 0px;

  display: flex;
  flex-direction: column;

  top: 0;
  position: sticky;
  align-self: start;
}

.intro {
  --section-color: rgb(8, 146, 174);
  --section-lighter: rgba(8, 146, 174, 0.3);
  --section-lightest: rgba(8, 146, 174, 0.1);
}

.cad {
  --section-color: rgb(166, 0, 166);
  --section-lighter: rgba(166, 0, 166, 0.3);
  --section-lightest: rgba(66, 0, 166, 0.1);
}

.sugarCube {
  --section-color: rgb(255, 145, 0);
  --section-lighter: rgba(255, 145, 0, 0.3);
  --section-lightest: rgba(255, 145, 0, 0.1);
}

.batteryCharger {
  --section-color: rgb(10, 21, 115);
  --section-lighter: rgba(10, 21, 115, 0.3);
  --section-lightest: rgba(10, 21, 115, 0.1);
}

.breadboarding {
  --section-color: rgb(199, 48, 48);
  --section-lighter: rgba(199, 48, 48, 0.3);
  --section-lightest: rgba(199, 48, 48, 0.1);
}

.pcb {
  --section-color: rgb(7, 109, 22);
  --section-lighter: rgba(7, 109, 22, 0.3);
  --section-lightest: rgba(7, 109, 22, 0.1);
}

.final {
  --section-color: rgb(185, 140, 6);
  --section-lighter: rgba(185, 140, 6, 0.3);
  --section-lightest: rgba(185, 140, 6, 0.1);
}

.sidebarContainer {
  display: flex;
  height: calc(100vh - var(--top-height));
}

.topbar {
  display: none;
}

.iconContainer {
  display: flex;
  padding: 10px;
  flex-direction: column;
  background-color: var(--icon-background-color);
}

.icon {
  padding: 5px 0;
  width: 85px;
  border-radius: 5px;
  color: var(--grey2);
  font-weight: bold;
  text-align: center;
  font-size: 13px;
  text-transform: lowercase;

  margin-bottom: 5px;

  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
  }

  &.selected {
    background-color: rgba(255, 255, 255, 0.15);
  }
}

.chapterContainer {
  overflow-y: scroll;
  width: 340px;

  padding: 5px 10px;
  background-color: var(--grey1);

  a {
    color: #eee;
    text-decoration: none;
  }
}

.chapter {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 15px;

  &.comingSoon {
    color: var(--grey7);
    font-size: 14px;
    padding-top: 8px;
    padding-left: 20px;

    input[type='text'] {
      padding: 6px 10px;
      border-radius: 5px;
      outline: none;
      width: 100%;
      border: 2px solid var(--grey4);
      font-family: 'DM Sans', sans-serif;

      &:focus {
        border: 2px solid var(--grey6);
      }
    }
  }
}

.chapter + .chapter {
  border-top: 1px dashed var(--grey4);
}

.chapterName {
  font-size: 13px;
  color: var(--section-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  align-self: center;
  padding-bottom: 5px;
}

.details {
  display: flex;
  justify-self: end;
  align-self: flex-start;
  padding: 1px 5px 1px;
  border-radius: 10px;
  margin: 0 0 5px 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);

  .location {
    font-size: 11px;
    border-radius: 8px;
    text-align: center;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
  }

  .dueDate {
    margin-left: 5px;
    font-size: 11px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
  }
}

ul.pageList {
  grid-column: 1 / 3;
  margin-bottom: 0;

  color: var(--grey8);
  list-style: none;
  padding: 0;

  li {
    padding: 3px 15px;
    width: fit-content;
    border-radius: 15px;
    line-height: normal;
    margin-bottom: 2px;
    transition: 0.1s background-color;
    font-size: 16px;

    &.selected {
      background-color: var(--section-color);
      color: var(--grey1);
    }
    &:hover:not(.selected) {
      background-color: var(--section-lighter);
      cursor: pointer;
    }
  }
}

@media (max-width: variables.$media-max-width) {
  ul.pageList li {
    font-size: 14px;
  }

  .sidebar {
    --top-height: 40px;
    z-index: 100;
  }

  .details {
    display: none;
  }
  .chapter {
    padding: 5px;
  }

  .topbar {
    display: flex;
    align-items: center;
    grid-column: 1 / 3;

    gap: 10px;

    height: var(--top-height);
    background-color: var(--grey2);
  }

  .hamburgerContainer {
    height: var(--top-height);
    width: var(--top-height);

    display: grid;
    align-items: center;

    input[type='checkbox'] {
      display: none;
    }
  }

  .hamburger {
    --transition-duration: 150ms;
    --burger-slice-height: calc(var(--top-height) / 11);
    --burger-width-percentage: 0.6;
    height: var(--burger-slice-height);
    width: calc(var(--top-height) * var(--burger-width-percentage));

    margin: 0 calc(var(--top-height) * (1 - var(--burger-width-percentage)) / 2 + 4px);

    position: relative;
    transition: height 1ms var(--transition-duration);
  }

  .hamburger,
  .hamburger::before,
  .hamburger::after {
    border-radius: var(--top-height);
    background-color: var(--grey8);
    transform-origin: center center;
  }

  .hamburger::before,
  .hamburger::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: var(--burger-slice-height);

    transition: top var(--transition-duration) var(--transition-duration), transform var(--transition-duration);
  }

  .hamburger::before {
    top: -200%;
  }

  .hamburger::after {
    top: 200%;
  }

  .pageName {
    font-size: 16px;
    font-weight: 500;
    color: var(--grey7);
  }

  input[type='checkbox']:checked ~ .hamburger {
    height: 0;

    &::before,
    &::after {
      top: 0;
      transition: top var(--transition-duration), transform var(--transition-duration) var(--transition-duration);
    }
    &::before {
      transform: translate(0, -1px) rotate(45deg);
    }

    &::after {
      transform: translate(0, -1px) rotate(-45deg);
    }
  }

  .sidebarContainer {
    position: absolute;

    top: var(--top-height);
    transition: transform 300ms;
    transform-origin: left;
    transform: translateX(0);

    width: 100vw;
    &.hidden {
      transform: translateX(-100%);
    }

    .chapterContainer {
      border-right: none;
    }
  }
}

.sectionNav {
  display: flex;
  justify-content: space-between;
  margin: 60px 0;

  .navButton {
    font-size: 16px;
    cursor: pointer;
    padding: 8px 15px;
    color: white;
    border-radius: 6px;

    &.comingSoonLink {
      background-color: #aaa;
      color: #444;
      cursor: not-allowed;
    }

    & + .navButton {
      margin-left: 10px;
    }
  }

  .prevLink {
    justify-self: flex-start;
    background-color: var(--grey7);

    &::before {
      content: '';
      margin-right: 5px;
      transform: rotate(-225deg);
      display: inline-block;
      width: 8px;
      height: 8px;
      border: 3px solid white;
      border-width: 0 3px 3px 0;
    }
  }

  .nextLink {
    justify-self: flex-end;
    background-color: var(--section-color);

    &:after {
      content: '';
      margin-left: 5px;
      transform: rotate(-45deg);
      display: inline-block;
      width: 8px;
      height: 8px;
      border: 3px solid white;
      border-width: 0 3px 3px 0;
    }
  }
}

@media (max-width: variables.$media-max-width) {
  .icon {
    width: 70px;
    font-size: 12px;
  }
}
