@use '../../styles/variables';

.sidebar {
  --icon-background-color: #006e2c;
  --chapters-background-color: #00983d;
  --top-height: 0px;

  display: flex;
  flex-direction: column;

  top: 0;
  position: sticky;
  align-self: start;
}
.sidebarContainer {
  display: flex;
  height: calc(100vh - var(--top-height));
}

.topbar {
  display: none;
}

.iconContainer {
  display: flex;
  padding: 10px;
  flex-direction: column;
  background-color: var(--icon-background-color);
}

.icon {
  padding: 5px 0;
  width: 85px;
  border-radius: 5px;
  color: var(--grey2);
  font-weight: bold;
  text-align: center;
  font-size: 13px;
  text-transform: lowercase;

  margin-bottom: 5px;

  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
  }

  &.selected {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.chapterContainer {
  overflow-y: scroll;
  width: 340px;

  padding: 5px 10px;
  background-color: var(--chapters-background-color);

  a {
    color: #eee;
    text-decoration: none;
  }
}

.chapter {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 15px;
}

.chapter + .chapter {
  border-top: 1px dashed rgba(255, 255, 255, 0.6);
}

.chapterName {
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-weight: 600;
  align-self: center;
  padding-bottom: 5px;
}

.details {
  display: flex;
  justify-self: end;
  padding: 4px 8px;
  border-radius: 100vw;
  border: 1px solid rgba(255, 255, 255, 0.5);

  .location {
    font-size: 13px;
    border-radius: 8px;
    text-align: center;
    margin-right: 5px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
  }

  .dueDate {
    font-size: 13px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.9);
    text-transform: uppercase;
  }
}

ul.pageList {
  grid-column: 1 / 3;
  margin-bottom: 0;

  color: #eee;
  list-style: none;
  padding: 0;

  li {
    padding: 2px 10px 1px;
    width: fit-content;
    border-radius: 100vw;
    margin-bottom: 2px;
    transition: 0.1s background-color;

    a {
      font-size: 16px;
      font-weight: 400;
    }

    &.selected {
      background-color: rgba(0, 0, 0, 0.3);
    }

    &:hover:not(.selected) {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}

@media (max-width: variables.$media-max-width) {
  .sidebar {
    --top-height: 60px;
    z-index: 100;
  }

  .topbar {
    display: flex;
    align-items: center;
    grid-column: 1 / 3;

    gap: 20px;

    height: var(--top-height);
    border-bottom: 5px solid black;

    background-color: #eee;
  }

  .hamburgerContainer {
    height: var(--top-height);
    width: var(--top-height);

    display: grid;
    align-items: center;

    input[type='checkbox'] {
      display: none;
    }
  }

  .hamburger {
    --transition-duration: 150ms;
    --burger-slice-height: calc(var(--top-height) / 11);
    --burger-width-percentage: 0.7;
    height: var(--burger-slice-height);
    width: calc(var(--top-height) * var(--burger-width-percentage));

    margin: 0 calc(var(--top-height) * (1 - var(--burger-width-percentage)) / 2);

    position: relative;
    transition: height 1ms var(--transition-duration);
  }

  .hamburger,
  .hamburger::before,
  .hamburger::after {
    border-radius: var(--top-height);
    background-color: black;
  }

  .hamburger::before,
  .hamburger::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: var(--burger-slice-height);

    transition: top var(--transition-duration) var(--transition-duration), transform var(--transition-duration);
  }

  .hamburger::before {
    top: -200%;
  }

  .hamburger::after {
    top: 200%;
  }

  input[type='checkbox']:checked ~ .hamburger {
    height: 0;

    &::before,
    &::after {
      top: 0;
      transition: top var(--transition-duration), transform var(--transition-duration) var(--transition-duration);
    }
    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  .sidebarContainer {
    position: absolute;

    top: var(--top-height);
    transition: transform 300ms;
    transform-origin: left;
    transform: translateX(0);

    width: 100vw;
    &.hidden {
      transform: translateX(-100%);
    }

    .chapterContainer {
      border-right: none;
    }
  }
}

.sectionNav {
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  margin: 60px 0;

  .navButton {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 15px;
    color: white;
    border-radius: 6px;

    &.comingSoonLink {
      background-color: #aaa;
      color: #444;
      cursor: not-allowed;
    }
  }

  .prevLink {
    justify-self: flex-start;
    background-color: rgb(245, 166, 35);

    &::before {
      content: '';
      margin-right: 5px;
      transform: rotate(-225deg);
      display: inline-block;
      width: 8px;
      height: 8px;
      border: 3px solid white;
      border-width: 0 3px 3px 0;
    }
  }

  .nextLink {
    justify-self: flex-end;
    background-color: rgb(74, 144, 226);

    &:after {
      content: '';
      margin-left: 5px;
      transform: rotate(-45deg);
      display: inline-block;
      width: 8px;
      height: 8px;
      border: 3px solid white;
      border-width: 0 3px 3px 0;
    }
  }
}
