@use '../../styles/variables';

.sidebar {
  --icon-background-color: #002464;
  --icon-border-color: #0f316e;
  --chapters-background-color: #0d4e9a;
  --chapters-border-color: #eee;
  --top-height: 0px;

  display: flex;
  flex-direction: column;

  top: 0;
  position: sticky;
  align-self: start;
}
.sidebarContainer {
  display: flex;
  height: calc(100vh - var(--top-height));
}

.topbar {
  display: none;
}

.iconContainer {
  display: flex;
  flex-direction: column;
  
  padding: 5px;
  border-right: 5px solid var(--icon-border-color);
  background-color: var(--icon-background-color);
}

.icon {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  border: 2px solid black;

  margin-bottom: 5px;

  &.selected {
    background-color: #001a3D;
  }
}

.chapterContainer {
  overflow-y: scroll;
  width: 400px;

  padding: 5px 10px;
  border-right: 5px solid var(--chapters-border-color);
  background-color: var(--chapters-background-color);

  a {
    color: #eee;
    text-decoration: none;
  }
}

.chapter {
  display: grid;
  grid-template-columns: auto 1fr;
  margin: 10px 10px 10px 10px;
  padding-top: 20px;
}

.chapter + .chapter {
  border-top: 2px dashed #eee;
}

.chapterName {
  color: #011a3f;
  align-self: center;

  cursor: pointer;
}

.details {
  display: flex;
  align-items: flex-end;
  justify-content: right;
  width: fit-content;
  justify-self: end;
  padding: 4px 8px;
  border-radius: 100vw;
  background-color: #36a;

  .location {
    font-size: 14px;
    border-radius: 8px;
    width: 70px;
    text-align: center;
  }

  .dueDate {
    font-size: 14px;
  }
}

ul.pageList {
  grid-column: 1 / 3;
  font-size: 14px;

  color: #eee;
  list-style: none;
  padding: 0;

  li {
    padding: 5px 20px;
    width: fit-content;
    border-radius: 100vw;
    margin-bottom: 3px;

    &.selected {
      background-color: #001a3D;
    }
  }
}

@media (max-width: variables.$media-max-width) {
  .sidebar {
    --top-height: 60px;
    z-index: 100;
  }

  .topbar {
    display: flex;
    align-items: center;
    grid-column: 1 / 3;

    gap: 20px;

    height: var(--top-height);
    border-bottom: 5px solid black;
    
    background-color: #eee;
  }

  .hamburgerContainer {
    height: var(--top-height);
    width: var(--top-height);
    
    display: grid;
    align-items: center;

    input[type="checkbox"] {
      display: none;
    }
  }

  .hamburger {
    --transition-duration: 150ms;
    --burger-slice-height: calc(var(--top-height) / 11);
    --burger-width-percentage: .70;
    height: var(--burger-slice-height);
    width: calc(var(--top-height) * var(--burger-width-percentage));

    margin: 0 calc(var(--top-height) * (1 - var(--burger-width-percentage)) / 2);

    position: relative;
    transition: height 1ms var(--transition-duration);
  }

  .hamburger,
  .hamburger::before,
  .hamburger::after {
    border-radius: var(--top-height);
    background-color: black;
  }

  .hamburger::before,
  .hamburger::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: var(--burger-slice-height);

    transition: top  var(--transition-duration)  var(--transition-duration), transform  var(--transition-duration);
  }

  .hamburger::before {
    top: -200%;
  }

  .hamburger::after {
    top: 200%;
  }

  input[type="checkbox"]:checked ~ .hamburger {
    height: 0;

    &::before,
    &::after {
      top: 0;
      transition: top  var(--transition-duration), transform  var(--transition-duration)  var(--transition-duration);
    }
    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  .sidebarContainer {
    position: absolute;

    top: var(--top-height);
    transition: transform 300ms;
    transform-origin: left;
    transform: translateX(0);

    width: 100vw;
    &.hidden {
      transform: translateX(-100%);
    }

    .chapterContainer {
      border-right: none;
    }
  }
}