.copyLinkToClipboard {
    display: flex;
    align-items: center;

    margin-bottom: 10px;
    padding: 0;

    font-size: 0.95em;
    font-family: "DM Sans", sans-serif;
    text-decoration: underline;

    border: none;

    background-color: transparent;

    cursor: pointer;

    opacity: 0.4;

    transition: 0.1s all;

    &:hover {
        opacity: 1;
    }

    svg {
        margin-right: 3px;
    }
}