.whatsDueContainer {
  background-color: var(--section-lightest);
  border-radius: 8px;
  padding: 20px;

  h1 {
    font-size: 16px;
    color: var(--section-color);
    margin-bottom: 10px;
  }
  .dueContainer {
    display: grid;
    gap: 15px;
  }

  .dueItemContainer {
    display: grid;
    gap: 15px;
    grid-template-columns: 15px 1fr;
    cursor: pointer;

    &:hover {
      .dueItem {
        opacity: 0.8;
      }
      .checkboxSquare {
        border-color: var(--section-color);
      }
    }
  }

  .checkboxSquare {
    width: 20px;
    height: 20px;
    border: 2px solid var(--grey6);
    border-radius: 3px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: visible;

    &.hasCheckmark {
      overflow: visible;
      position: relative;

      &::after {
        position: absolute;
        content: '';
        left: 3px;
        top: -2px;
        width: 14px;
        height: 6px;
        border: solid var(--section-color);
        border-width: 0 0 5px 5px;
        transform: rotate(-45deg);
      }
    }
  }
}

.confettiContainer {
  position: fixed;
  bottom: 5vh;
  left: 50%;
  width: 100%;
  z-index: 100;
  pointer-events: none;
}
