.devMarker {
  z-index: 1000000;

  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: silver;
  font-weight: bold;
  color: white;
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  user-select: none;
  pointer-events: none;
  opacity: 0.9;

  display: flex;
  gap: 5px;

  button {
    border-radius: 5px;
    border: none;
    color: white;
    background-color: silver;
    pointer-events: all;

    &:hover {
      background-color: #999;
    }
  }

  &.hidden {
    display: none;
  }
}
