.choices {
  --color: rgb(74, 144, 226);

  max-width: 800px;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  margin: 30px 0;
}

.choice {
  position: relative;

  border: 3px solid var(--color);
  padding: 8px 40px 8px 10px;
  border-radius: 6px;

  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    top: calc(50% - 9px);
    right: 10px;
    width: 16px;
    height: 8px;
    border: solid white;
    border-width: 0 0 4px 4px;
    transform: rotate(-45deg);
  }

  &.selected {
    background-color: var(--color);
    color: white;
  }
}

@media (max-width: 600px) {
  .choices {
    flex-wrap: wrap;

    .choice {
      width: 100%;
      font-size: 13px;
    }
  }
}
