.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  font-family: "DM Sans", sans-serif;

  background: rgba(0, 0, 0, 0.8);
  background-repeat: no-repeat;
  background-size: contain;

  overflow: auto;
}

.close {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  gap: 18px;
  justify-content: center;
  align-items: center;

  width: fit-content;
  height: fit-content;
  margin: 1.25rem 1.25rem 0 0;
  padding: 0.25rem 0 0.25rem 0.25rem;

  color: #ffffff;
  font-weight: 700;
  font-size: 1.5rem;
  font-family: "DM Sans", sans-serif;

  border: none;

  background: none;

  cursor: pointer;

  transition: 0.2s opacity;

  &:hover {
    opacity: 0.5;
  }
}

.card {
  display: flex;
  flex-direction: column;

  width: calc(100% - 2.5rem);
  height: fit-content;
  min-width: 288px;
  margin: 4.5rem 1.25rem 1.25rem 1.25rem;
  padding: 1.25rem;

  text-align: left;

  border-radius: 20px;

  background-color: #ffffff;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

  overflow-y: auto;

  .componentTitle {
    margin-bottom: 5px;

    font-size: 1.75rem;
  }

  .componentSubtitle {
    margin-bottom: 10px;

    font-size: 1.2em;
  }

  .sectionTitle {
    margin-top: 28px;
    margin-bottom: 10px;

    color: #000000;
    font-weight: 700;
    font-size: 1.5rem;
  }

  .categoryTagContainer {
    margin-bottom: 10px;
  }

  .categoryTag {
    display: inline-block;

    width: fit-content;
    margin-bottom: 20px;
    padding: 0.5rem 0.75rem;

    color: #ffffff;
    font-weight: 400;
    font-size: 1.1em;

    border-radius: 0.25rem;
  }

  a {
    color: #3107eb;
    font-weight: 400;
  }

  p {
    margin: 0;
  }

  .sectionText {
    margin-bottom: 10px;
  }
}

.sectionImage {
  position: relative;

  max-width: 475px;
  margin: auto;
  margin-bottom: 1rem;

  .product {
    width: 100%;

    border-radius: 10px;

    object-fit: contain;
  }

  .badge {
    position: absolute;
    top: 0;
    right: 0;

    width: 79.9px;
    height: 71.5px;

    object-fit: contain;
  }
}

.linkLeadInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  margin-bottom: 1rem;

  white-space: nowrap;

  .purchaseLink {
    display: inline-block;

    width: fit-content;
    min-width: 162px;
    max-width: 100%;
    margin-right: 0.5rem;

    text-overflow: ellipsis;

    overflow: hidden;
  }

  .leadTime {
    display: inline-block;

    margin: 0;

    strong {
      padding: 0 0.5rem;

      border-radius: 0.25rem;

      background: #fff59e;
    }
  }
}

ul.staffList {
  margin: 0;
  padding: 0;
  padding-left: 10px;

  list-style: "-";

  li {
    padding-left: 10px;
  }

  .staffName:last-of-type {
    margin: 0;
  }
}

.animateEnterFadeIn {
  animation-name: animate-enter-fade-in;
  animation-duration: 0.4s;
  animation-timing-function: ease;
}

@keyframes animate-enter-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animateEnterTranslateUp {
  animation-name: animate-enter-translate-up;
  animation-duration: 0.4s;
  animation-timing-function: ease;
}

@keyframes animate-enter-translate-up {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media only screen and (min-width: 400px) {
  .linkLeadInfo {
    flex-direction: row;
    gap: 0;
  }
}

@media only screen and (min-width: 720px) {
  .close {
    margin: 2rem 2rem 0 0;
  }

  .card {
    position: relative;

    width: calc(100% - 4rem);
    margin: 6.5rem 2rem 2rem 2rem;
    padding: 30px;

    &>* {
      width: 50%;
    }

    .componentTitle {
      font-size: 2.5rem;
    }

    .componentSubtitle {
      font-size: 1.4rem;
    }
  }

  .sectionImage {
    position: absolute;
    left: 55%;

    width: calc(45% - 2em);
    max-width: 630px;

    .badge {
      width: 99.84px;
      height: 89.35px;
    }
  }
}

@media only screen and (min-width: 987px) {
  .close {
    margin: 2.5rem 2.5rem 0 0;
  }

  .card {
    width: calc(100% - 5rem);
    margin: 7.5rem 2.5rem 2.5rem 2.5rem;
  }
}