.castingSelections {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
}

.castingSelection {
  position: relative;

  flex: 1 1 300px;
  flex-wrap: wrap;
  align-items: bottom;

  color: black;
  font-weight: bold;
  font-size: 20px;
  text-align: center;

  border: 3px solid var(--grey9);
  border-radius: 12px;

  box-shadow: 0 -11px 0 0 inset rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.1);

  transition: 0.1s transform;

  &:hover {
    cursor: pointer;

    transform: scale(1.02);
  }

  .imageContainer {
    position: relative;

    display: flex;
    align-items: flex-end;

    width: 140px;
    height: 130px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;

    &.casting {
      width: 90px;
      height: 80px;
    }
    margin-top: -10px;
    margin-bottom: 25px;
  }

  h4 {
    margin-top: 20px;

    font-size: 1.4rem;
  }

  p {
    margin-top: 5px;

    font-size: 1.1rem;
    line-height: normal;
  }
}

.recommendationText {
  display: inline-block;

  padding: 5px 10px;

  font-weight: 600;

  border-radius: 6px;

  background-color: var(--highlight);

  box-shadow: 0 3px 0px rgba(226, 175, 7, 0.5);

}

.longResponses {

  h4 {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.longResponse {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  margin-top: 40px;
  padding-top: 40px;

  border-top: 2px solid var(--grey3);
}

.longResponseImage {
  position: relative;

  flex: 1 0 240px;

  width: 240px;
  height: 300px;

  object-fit: cover;
}

.dem {
  font-size: 0.9rem;

  opacity: 0.3;
}


.propertyGrid {
  display: grid;
  grid-template-columns: max-content 1fr;

  max-width: 400px;
  margin-bottom: 20px;

  border-top: 2px solid var(--grey9);
}

.property {
  display: contents;
}

.propertyName,
.value {
  padding: 8px 20px 8px 0;

  font-weight: 300;
  font-size: 1rem;

  border-bottom: 1px solid var(--grey3);
}

.value {
  font-weight: 800;
}


@media (min-width: 768px) {
  .castingSelections {
    grid-template-columns: repeat(2, 1fr);
  }

  .longResponse {
    flex-wrap: nowrap;
  }
}

@media (min-width: 1024px) {
  .castingSelections {
    grid-template-columns: repeat(3, 1fr);
  }
}