@use './variables';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

html,
body {
  font-family: 'DM Sans', sans-serif;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 25px;
}

body {
  --grey1: #f5f5f5;
  --grey2: #ebebeb;
  --grey3: #e0e0e0;
  --grey4: #bdbdbd;
  --grey5: #9e9e9e;
  --grey6: #757575;
  --grey7: #616161;
  --grey8: #424242;
  --grey9: #212121;
}

div {
  box-sizing: border-box;
}

.app-container {
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;

  a {
    color: #1f83f7;
    font-weight: bold;
    text-decoration: underline;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    padding: 0;
    line-height: normal;
  }

  h1 {
    font-size: 48px;
    color: var(--primary);
    margin-bottom: 25px;
    font-weight: 700;
    line-height: 1.2em;
  }

  h2 {
    font-size: 28px;
    color: #999;
    margin-bottom: 20px;
  }

  h1 + h2 {
    margin-top: -20px;
  }

  h3 {
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--standard-font);
    opacity: 0.5;
    margin-bottom: 20px;
    font-weight: 700;
  }

  p + h2,
  ul + h2 {
    margin-top: 50px;
  }

  p + h3 {
    margin-top: 50px;
  }

  h4 {
    color: var(--primary);
    font-weight: 700;
    margin-bottom: 15px;
  }

  h1,
  h2,
  h3,
  h4 {
    max-width: 800px;
  }

  p,
  ul,
  ol {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 0;
    max-width: 70ch;
    font-weight: 300;
  }

  ul,
  ol {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    padding-left: 20px;
  }

  li {
    margin-bottom: 10px;
  }

  .full-image-container {
    margin-bottom: 30px;

    img {
      width: 100%;
    }

    img:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }

  .dev-marker {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: silver;
    font-weight: bold;
    color: white;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    user-select: none;
    pointer-events: none;
    opacity: 0.9;
  }

  .page-content {
    overflow-y: scroll;
    padding: 30px;
    max-width: 960px;
  }

  .link-image {
    display: block;
    margin: auto;

    border: 2px solid #000;
    border-radius: 12px;
    overflow: hidden;

    width: fit-content;

    &.fusion-image {
      padding-top: 5px;
      margin-bottom: 25px;
    }
  }

  p.important {
    border: 3px solid rgb(255, 168, 86);
    padding: 10px 15px;
    border-radius: 10px;
  }

  video {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 0 auto 30px auto;

    border-radius: 10px;
  }
}

@media (max-width: variables.$media-max-width) {
  .app-container {
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
  }

}