@use './variables';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@font-face {
  font-family: 'grilledcheese';
  src: url('/fonts/gc.ttf') format('truetype');
}

html,
body {
  font-family: 'DM Sans', sans-serif;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 25px;
}

body {
  --grey1: #f5f5f5;
  --grey2: #ebebeb;
  --grey3: #e0e0e0;
  --grey4: #bdbdbd;
  --grey5: #9e9e9e;
  --grey6: #757575;
  --grey7: #616161;
  --grey8: #424242;
  --grey9: #212121;

  --icon-background-color: #002846;
}

div {
  box-sizing: border-box;
}

.app-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;

  position: relative;

  a {
    color: #1f83f7;
    font-weight: bold;
    text-decoration: underline;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    padding: 0;
    line-height: normal;
  }

  h1 {
    font-size: 48px;
    color: var(--primary);
    margin-bottom: 25px;
    font-weight: 700;
    line-height: 1.2em;
  }

  h2 {
    font-size: 28px;
    color: var(--section-color);
    margin-bottom: 20px;
  }

  h1 + h2 {
    margin-top: -20px;
  }

  h3 {
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--standard-font);
    opacity: 0.5;
    margin-bottom: 20px;
    font-weight: 700;
  }

  p + h2,
  ul + h2 {
    margin-top: 40px;
  }

  ol {
    li {
      padding-left: 10px;
    }
  }

  p + h3 {
    margin-top: 30px;
  }

  h4 {
    color: var(--primary);
    font-weight: 700;
    margin-bottom: 15px;
  }

  h1,
  h2,
  h3,
  h4 {
    max-width: 800px;
  }

  p,
  ul,
  ol {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 0;
    font-weight: 300;
  }

  ul,
  ol {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    padding-left: 20px;
  }

  li {
    margin-bottom: 5px;
  }

  .full-image-container {
    margin-bottom: 30px;

    img {
      width: 100%;
    }

    img:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }

  .image-container {
    display: block;
    margin: auto;
    width: fit-content;
  }

  .dev-marker {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: silver;
    font-weight: bold;
    color: white;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    user-select: none;
    pointer-events: none;
    opacity: 0.9;
  }

  .page-content {
    padding: 50px;
    max-width: 920px;

    &.electronics-library,
    &.home {
      max-width: 100%;
    }

    &.home {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .link-image {
    border: 2px solid #000;
    border-radius: 12px;
    overflow: hidden;

    width: fit-content;

    margin: 0 auto;

    &.fusion-image {
      padding-top: 5px;
      margin-bottom: 25px;
    }
  }

  p.important {
    border: 3px solid var(--section-color);
    padding: 10px 15px;
    border-radius: 10px;
  }

  div.advanced {
    border: 3px solid var(--section-color);
    padding: 10px 15px;
    border-radius: 10px;

    h3 {
      font-size: 12px;
      color: var(--section-color);
      font-weight: bold;
      margin-bottom: 5px;
    }

    a {
      color: var(--section-color);
    }

    p {
      margin-top: 5px;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  span.instruction,
  code {
    background-color: #eee;
    padding: 2px 6px;
    border-radius: 6px;
    margin: 0px 3px;
    font-weight: bold;
    white-space: no-wrap;
  }

  span.pin {
    background-color: rgb(255, 236, 206);
    color: rgb(235, 116, 5);
    padding: 0 5px;
    border-radius: 6px;
    margin: 0 1px;
    text-transform: uppercase;
    font-family: 'Source Code Pro', monospace;
  }

  video {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 0 auto 30px auto;
    border-radius: 10px;

    &.exploded-view {
      max-width: 500px;
      margin-bottom: 0;
    }
  }

  pre {
    width: calc(100% - 40px);
    background-color: var(--grey2);
    padding: 15px 20px;
    border-radius: 10px;
    color: var(--grey7);
    white-space: pre-wrap;

    p {
      font-size: 14px;
      margin: 2px 0;
      line-height: 1.4em;
    }
  }
}

.breadcrumbs {
  border: 3px solid var(--section-color);
  padding: 4px 10px;
  border-radius: 8px;
  font-size: 18px;
  margin-bottom: 20px;
  display: inline-flex;
  align-items: center;

  .chapter {
    color: var(--section-color);
    font-weight: bold;
    white-space: nowrap;
  }

  .page {
  }

  .separator {
    font-weight: bold;
    font-size: 30px;
    line-height: 0;
    margin: 0 6px;
    color: var(--section-lighter);
  }
}

@media (max-width: variables.$media-max-width) {
  .app-container {
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    height: 100%;

    .page-content {
      padding: 20px;
    }

    h1 {
      font-size: 32px;
    }

    h2 {
      font-size: 24px;
    }

    .breadcrumbs {
      font-size: 13px;
    }
  }
}
