@use './variables';
.home {
  text-align: center;
  max-width: 720px;
  width: 100%;
  margin-top: -15vh;

  .mainImage {
    max-width: 580px;
    margin: 0 auto;
  }

  h1 {
    font-size: 52px;
    width: 100%;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 0;
    font-family: 'grilledcheese', sans-serif;

    .themed {
      color: var(--icon-background-color);
    }
  }

  p {
    font-size: 20px;
    margin: 0 auto 20px;
    max-width: 600px;
  }
}

.topics {
  display: flex;
  gap: 10px;
  height: 105px;
  flex-wrap: wrap;
}

.topic {
  position: relative;
  flex: 1 1 200px;
  text-align: center;
  border: 3px solid var(--grey9);
  border-radius: 12px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 -11px 0 0 inset rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
  align-items: bottom;
  color: black;

  .text {
    margin-bottom: 20px;
  }

  a {
    text-decoration: none;
    color: black;
    display: block;
  }

  .imageContainer {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: flex-end;
  }

  &:hover {
    background-color: var(--grey1);
    cursor: pointer;
    transform: scale(1.05);
  }
}

@media (max-width: variables.$media-max-width) {
  .home {
    margin-top: 0;
  }
  .topics {
    height: auto;
  }
} 