@use "./variables";

.home {
  width: 100%;
  max-width: 720px;

  text-align: center;

  .mainImage {
    max-width: 580px;
    margin: 0 auto;
  }

  h1 {
    width: 100%;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 0;

    font-size: 52px;
    font-family: "grilledcheese", sans-serif;

    .themed {
      color: var(--icon-background-color);
    }
  }

  p {
    max-width: 600px;
    margin: 0 auto 20px;

    font-size: 20px;
  }
}

.topics {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.topic {
  position: relative;

  flex: 1 1 300px;
  flex-wrap: wrap;
  align-items: bottom;

  color: black;
  font-weight: bold;
  font-size: 20px;
  text-align: center;

  border: 3px solid var(--grey9);
  border-radius: 12px;

  box-shadow: 0 -11px 0 0 inset rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.1);

  transition: 0.1s transform;

  &:hover {
    background-color: var(--grey1);

    cursor: pointer;

    transform: scale(1.02);
  }

  .text {
    margin-bottom: 20px;
  }

  a {
    display: block;

    color: black;
    text-decoration: none;
  }

  .imageContainer {
    display: flex;
    align-items: flex-end;

    width: 80px;
    height: 80px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;

    &.casting {
      width: 90px;
      height: 80px;
    }
  }
}

@media (max-width: variables.$media-max-width) {
  .home {
    margin-top: 0;
  }

  .topics {
    height: auto;
  }
}