.homepage {
  max-width: 1260px;
  margin: 40px auto;
  padding: 0 40px;
}

.electronicsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 20px;
}

.electronicsItem {
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
  transition: 0.1s transform;

  .productName {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 15px;
    overflow: hidden;
    white-space: nowrap;
    background-color: var(--grey9);
    color: var(--grey1);
    text-overflow: ellipsis;
  }

  img {
    width: 300px;
    height: 225px;
    object-fit: cover;
    background-color: var(--grey1);
    display: block;
  }

  .category {
    padding: 2px 15px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .description {
    padding: 10px 15px;
    font-size: 16px;
    text-overflow: ellipsis;
    height: 44px;
    overflow: hidden;
    white-space: nowrap;
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.02);
  }
}

.fullOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s opacity;

  &.showOverlay {
    opacity: 1;
    pointer-events: auto;
    .overlayContent {
      transform: none;
    }
  }
}

.overlayContent {
  width: 600px;
  height: 450px;
  background-color: var(--grey1);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 30px;
  transition: 0.2s transform;
  transform: translateY(40px);
}
